<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta id="viewport" name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
  <meta name="format-detection" content="telephone=no" />
  <title><%= module_name %></title>
  <!--Vendor styles Start-->
  <link rel="stylesheet" type="text/css" href="../../bower_components/webkit-scss-material/dist/style.css"/>
  <link rel="stylesheet" type="text/css" href="../../bower_components/Ionicons/css/ionicons.min.css"/>
  <link rel="stylesheet" type="text/css" href="../../common/dist/styles/common.css"/>
  <!--Vendor styles End-->

  <!--App styles Start-->
  <link rel="stylesheet" type="text/css" href="dist/styles/<%= module_name %>.css"/>
  <!--App styles End-->
</head>
<body>

<div class="<%= module_name %>">
  Module template HTML goes here~
</div>

<!--Vendor scripts Start-->
<script type="text/javascript" src="../../bower_components/vue/dist/vue.min.js"></script>
<script type="text/javascript" src="../../bower_components/zepto/zepto.min.js"></script>
<script type="text/javascript" src="../../bower_components/fastclick/lib/fastclick.js"></script>
<script type="text/javascript" src="../../common/dist/scripts/common.js"></script>
<!--Vendor scripts End-->

<!--App scripts Start-->
<script type="text/javascript" src="dist/scripts/<%= module_name %>.js"></script>
<!--App scripts End-->

</body>
</html>
